<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <%- include('../partials/jumbotron'); %>
  <div class="row">
    <div class="input-group mb-3">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Enter Location" 
        aria-label="Enter Location" 
        aria-describedby="basic-addon2"
        id="location">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" onclick="geocode()">Search</button>
      </div>
    </div>
  </div>
  <div class="row" id="alerts">
  </div>
  <div class="row" id="currentObservation">
  </div>
  <div class="row" id="dailyForecast">
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
<script 
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
  crossorigin="anonymous"></script>
<script>
  async function geocode() {
    const l = document.getElementById('location').value;
    console.log(l);
    const response = await fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=${l}&key=AIzaSyAmRkyAU2E4fHcEGAvMFf2cSDQhkBkutY0`);
    const output = await response.json();
    // default grab first result
    const result = output.results[0].geometry.location;
    const weatherData = await getWeathermateData(result);
    
    setupCurrentObservation(weatherData.currentObservation);
    setupForecastDays(weatherData.days);
  }

  async function getWeathermateData(l) {
    const response = await fetch(`/api?lat=${l.lat}&lng=${l.lng}`);
    const output = await response.json();
    return output;
  }

  function setupForecastDays(days) {
    const items = days.map(buildForecast).join('');
    console.log(items);
    const content = `<h4>Forecast</h4>
      <div class="list-group">
        ${items}
      </div>`;

    document.getElementById("dailyForecast").innerHTML = `${content}`;
  }

  function buildForecast(f) {
    const hourlyItems = f.hourly.map(buildHourlyItem);
    const content = `
  <div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">${f.name}</h5>
      <small><img src="${f.icon}" /></small>
    </div>
    <p class="mb-1">${f.shortForecast}</p>
    <small>${f.detailedForecast}</small>
    <ul class="list-group list-group-horizontal overflow-auto">
      ${hourlyItems.join('')}
    </ul>
  </div>`;
  return content;
  }

  function buildHourlyItem(h) {
    const content = `
    <li class="list-group-item">
      <div class="card" style="width: 8em;">
        <img src="${h.icon}" class="card-img-top" style="width: 86px; height: 86px;">
        <div class="card-body">
          <h5 class="card-title">${h.temperature}°</h5>
          <p class="card-text">${h.windSpeed} ${h.windDirection}</p>
          <p>${toReadableTime(h.startTime)}</p>
        </div>
      </div>
    </li>`;
    return content;
  }

  function setupCurrentObservation(co) {
    console.log(co);
    const card = `<h4>Current Observation</h4>
      <div div="col">
        <div class="row">
          <div class="col">
            <h2 class="card-title">${co.temperature}°</h2>
            <h4 class="card-subtitle mb-2 text-body-secondary">${co.weather}</h4>
            <h6 class="card-subtitle mb-2 text-body-secondary">${co.name}</h6>
          </div>
          <div class="col">
            <img class="card-img-top" src="${co.icon}" style="width: 134px; height: 134px;"  />
          </div>
          <div class="col">
            <h6 class="card-subtitle mb-2 text-body-secondary">DP: ${co.dewpoint}°</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">HMD: ${co.relativeHumidity}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">SLP: ${co.seaLevelPressure}</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">WNDS: ${co.windSpeed} ${co.windDirection}</h6>
          </div>
        </div>
        <div class="row">
          <p class="card-text">${co.observationDate}</p>
        </div>
      </div>`;
    document.getElementById("currentObservation").innerHTML = `${card}`;
  }

  function toReadableTime(d) {
    const date = new Date(d);
    return date.toLocaleTimeString('en-US', {
      hour12: true,
    });
  }

</script>
</body>
</html>